<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">

    <title>{% block title %}Blog{% endblock %}</title>

    <link rel="stylesheet" href=
    "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity=
          "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin
          ="anonymous">

    {% block stylesheets %}{% endblock %}

</head>

<body>

{% block content %}{% endblock %}

<script src=
        "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity=
        "sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin
        ="anonymous"></script>

{% block javascripts %}{% endblock %}

</body>
</html>